div.sidebar {
  float: right;
  background-color: #eeeeee;
  border: 2pt solid black;
  margin: 0em 2pt 1em 2em;
  min-width: 15%;
  padding: 0pt 5pt 5pt 5pt;
  font-family: helvetica;
}

div.sidebar ul.main {
  padding: 0pt 0pt 0pt 1em;
  margin: 0 0 1em;
}

div.sidebar ul.sub {
  list-style-type: square;
  padding: 0pt 0pt 0pt 1em;
  margin: 0 0 1em;
}

div.sidebar ul.hack {
  padding: 0 0 0 0;
  margin: 0 0 1em;
  list-style-type: none;
}

body {
  color: #000000;
  background-color: #ffffff;
  margin-right: 0pt;
  margin-bottom: 10%;
  padding-left: 30px;
  font-family: helvetica;
}

h1,h2,h3 {
  margin-left: -30px;
}

pre {
  background-color: #eeeeee;
  border: solid 1px #d0d0d0;
  padding: 1em;
  margin-right: 10%;
}

.def {
  background-color: #ddddff;
  font-weight: bold;
}

.nomargin {
  margin-bottom: 0;
  margin-top: 0;
}
